<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for bread in breadcrumbs %}
            <li class="breadcrumb-item"><a href="{{ bread.href }}">{{ bread.label }}</a></li>
        {% endfor %}
    </ol>
</nav>