{% extends 'layout.twig' %}

{% block content %}
    <div class="col-lg-12">
        {% include 'inc/breadcrumbs.twig' %}
        <form action="" method="post">
            <label for="login">Имя пользователя</label>
            <input type="text" class="form-control" name="login" id="login">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" name="password" id="password">
            <button class="form-control btn btn-success">Войти</button>
            {% if user.info.error != undefined %}
                <p class="text-danger">Неверный логин и/или пароль</p>
            {% endif %}
            <p style="margin-top: 5px">
                Нет аккаунта? <a href="/register">Зарегистрируйтесь!</a>
            </p>
        </form>
    </div>
{% endblock %}
