html
  height: 100%
  body
    display: flex
    flex-direction: column
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
    height: 100%
    header
      p
        color: #57af50
      min-height: 80px
      background-color: #00222c
      div.logo
        display: flex
        flex-direction: row
        flex-wrap: wrap
        align-items: center
        img.logo
          width: 50px
          height: 50px
      nav
        margin-top: 20px
        a.btn
          color: #ffffff
          margin-bottom: 5px
        a.btn:hover, a.btn.active
          background-color: #397b34
    .content
      flex: 1 0 auto
    footer
      p
        color: #fff
        padding: 5px
        margin: 0
      flex: 0 0 auto
      background-color: #00222c
      min-height: 10px
